*.plasmoid
*.tar
*.tar.*
*~
*.bak
.DS_Store
/dist/
/release/
plasmoids/*/contents/ui/org/
plasmoids/*/contents/ui/config/ConfigAppearance.qml
**/icons-flat-backup/
theme/window-decoration/kdecoration-kde2/build/
